@model MCBaker.Models.Images
@{
    ViewBag.Title = "AndMore";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    @Styles.Render("~/Content/css/bodyCss.css")
</head>

<h2>AndMore</h2>

@foreach (String source in Model.imageList)
{
    <img id="foodImage" src="~/Content/images/@(Model.directory)/@(source)" />
}